.pagination {
    --bs-pagination-font-size: 0.75rem; 
    .page-item {
      .page-link {
        color: gray; // Set the default pagination font color to gray
  
        &:hover {
          color: darkblue; // Change color on hover
        }
      }
  
      // Highlight the active page
      &.active .page-link {
        // background-color: darkblue;
        // border-color: darkblue;
        //color: white; // Text color for the active page
          background-color: white;
         border-color: lightgray;
        color: blue; 
      }
    }
  
    // Style for disabled page items (e.g., previous/next buttons when inactive)
    .disabled .page-link {
      color: lightgray; // Light gray for disabled links
      pointer-events: none; // Disable clicks
    }
  }